/* --- BLOQUE 1: Portada --- */
.portada {
    min-height: 100vh;
    background: url("fondo.jpg") no-repeat center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portada .contenido {
    background: #0000004b;
    padding: 30px 20px;
    border-radius: 20px;
}
.portada h1 { font-size: clamp(2rem, 5vw, 3rem); }
.portada h2 { font-size: clamp(1.5rem, 4vw, 2rem); }

/* --- BLOQUE 2: Cuenta regresiva --- */
.countdown {
    background: linear-gradient(135deg, #cc40ff, #ff77fa);
    color: white;
    padding: 60px 20px;
    text-align: center;
}
.countdown h2 { font-size: clamp(1.5rem, 5vw, 2.2rem); margin-bottom: 1em; }
.timer {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.timer div {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 12px;
    min-width: 70px;
}
.timer span { display: block; font-size: clamp(1.5rem,6vw,2rem); font-weight: bold; }
.timer small { font-size: 0.9rem; }

/* --- BLOQUE 3: Botón play/pause --- */
#play-pause {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gainsboro;
    border: 2px solid #fff;
    background-image: url('./play-square-svgrepo-com.svg'); /* poner icono play */
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
#play-pause.pause {
    background-image: url('./pause-square-svgrepo-com.svg'); /* poner icono pause */
}

/* Bloque 4 - Sugerencias de canciones */
.sugerencias {
    background: #f7f7f7;
    padding: 60px 20px;
    text-align: center;
}

.sugerencias h2 {
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    color: #ff4081;
    margin-bottom: 15px;
}

.sugerencias p {
    margin-bottom: 25px;
    color: #444;
}

/* Contenedor del formulario */
.formulario-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del iframe */
.formulario-google iframe {
    width: 90%;
    max-width: 500px;   /* no se estira demasiado en pantallas grandes */
    height: 600px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border: 2px solid lch(58.49% 74.78 7.09 / 0.103); /* borde para que combine con la tarjeta */
    background: white;
}

